body
{
}
table {
	border: 1px solid black;
}
th {
	border: 1px solid black;
	border-collapse: collapse;
	background: red;
}
tr:nth-child(odd) {
	background: yellow;
}
tr:nth-child(even) {
	background: white;
}
tr {
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	border-collapse: collapse;
}