table {
	width: 450px;
	border-collapse: collapse;}
table thead th, thead td {
	background-color: rgb(180, 180, 180);
	font-weight: bold;
}
table td {
	border: 1px solid rgb(0,0,0);
	text-align: right;
}
 table tbody tr:nth-child(even) {
	background-color: rgb(217, 255, 212);
}
table tbody tr:nth-child(odd) {
	background-color: rgb(247, 255, 203);
}
table tfoot td{
	background: rgb(180, 180, 180);
	font-weight: bold;
}
th {
	text-align: left;
}
